.pageContainer {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.fullPageSidebar {
    position: static !important;
    width: 100% !important;
    height: 100% !important;
    transform: none !important;
    box-shadow: none !important;
    border-left: none !important;
}

.error {
    padding: 20px;
    text-align: center;
}